@{
    ViewData["Title"] = "Position name already is exist!";
}

    <h1 class="text-center">Position Name</h1>
<hr class="bg-secondary half-width" />
<table class="table mx-auto">
    <thead>
    <tr class="row">
        <th class="col-md-1">Id</th>
        <th class="col-md-2">Category name</th>
    </tr>
    </thead>
    <tbody>
        <tr class="row">
            <th class="col-md-1">@Model.Id</th>
            <td class="col-md-2">@Model.Name</td>
        </tr>
    </tbody>
</table>